.row-menu-title {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.space-menu-title {
    width: 100%;
    justify-content: space-between;
}

.search {
    width: 500px;
    margin-top: 10px;
}

.logo {
    height: 80px;
    cursor: pointer;
}

.menu {
    justify-content: center;
}