.sign-up-background {
    height: 100vh;
    background-image: url("https://firebasestorage.googleapis.com/v0/b/yama-98f64.appspot.com/o/materials%2FbackgroundImg.jpg?alt=media&token=b9d2b432-3eea-499c-ba50-7993cd277e3d");
}

.sign-up-form {
    padding: 20px 40px 20px 40px;
    background-color: white;
}

.sign-up-form-title {
    text-align: center;
}

.sign-up-form-button {
    width: 100%;
}

.sign-up-form-sign-in {
    width: 100%;
    justify-content: center;
}